ClinicaManagement/ClinicaManagement/ClinicaWeb/Connected Services/CapsuleCareWS/EspecialidadWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softcapsulecare.pucp.edu.pe/" targetNamespace="http://services.softcapsulecare.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarEspecialidades" type="tns:listarEspecialidades" />
  <xs:element name="listarEspecialidadesResponse" type="tns:listarEspecialidadesResponse" />
  <xs:complexType name="listarEspecialidades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspecialidadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="costoConsulta" type="xs:double" />
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>