ClinicaManagement/ClinicaManagement/ClinicaWeb/Connected Services/CapsuleCareWS/MedicoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softcapsulecare.pucp.edu.pe/" targetNamespace="http://services.softcapsulecare.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarMedico" type="tns:insertarMedico" />
  <xs:element name="insertarMedicoResponse" type="tns:insertarMedicoResponse" />
  <xs:complexType name="insertarMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="medico" type="tns:medico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element name="ahosExp" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="diasLaborales" nillable="true" type="tns:diaSemana" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element minOccurs="0" name="horaFinTrabajo" type="tns:localTime" />
          <xs:element minOccurs="0" name="horaInicioTrabajo" type="tns:localTime" />
          <xs:element name="idMedico" type="xs:int" />
          <xs:element minOccurs="0" name="numColegiatura" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="numTelefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="costoConsulta" type="xs:double" />
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarMedicoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Lunes" />
      <xs:enumeration value="Martes" />
      <xs:enumeration value="Miercoles" />
      <xs:enumeration value="Jueves" />
      <xs:enumeration value="Sabado" />
      <xs:enumeration value="Domingo" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>