ClinicaManagement/ClinicaManagement/ClinicaWeb/Connected Services/CapsuleCareWS/PacienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softcapsulecare.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PacienteWS" targetNamespace="http://services.softcapsulecare.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCapsuleCareWSBL/PacienteWS?xsd=1" namespace="http://services.softcapsulecare.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarPaciente">
    <part name="parameters" element="tns:insertarPaciente" />
  </message>
  <message name="insertarPacienteResponse">
    <part name="parameters" element="tns:insertarPacienteResponse" />
  </message>
  <message name="modificarPaciente">
    <part name="parameters" element="tns:modificarPaciente" />
  </message>
  <message name="modificarPacienteResponse">
    <part name="parameters" element="tns:modificarPacienteResponse" />
  </message>
  <message name="eliminarPaciente">
    <part name="parameters" element="tns:eliminarPaciente" />
  </message>
  <message name="eliminarPacienteResponse">
    <part name="parameters" element="tns:eliminarPacienteResponse" />
  </message>
  <message name="listarPaciente">
    <part name="parameters" element="tns:listarPaciente" />
  </message>
  <message name="listarPacienteResponse">
    <part name="parameters" element="tns:listarPacienteResponse" />
  </message>
  <message name="obtenerPorIDPaciente1">
    <part name="parameters" element="tns:obtenerPorIDPaciente1" />
  </message>
  <message name="obtenerPorIDPaciente1Response">
    <part name="parameters" element="tns:obtenerPorIDPaciente1Response" />
  </message>
  <message name="insertarPaciente1">
    <part name="parameters" element="tns:insertarPaciente1" />
  </message>
  <message name="insertarPaciente1Response">
    <part name="parameters" element="tns:insertarPaciente1Response" />
  </message>
  <message name="obtenerPorIDPaciente">
    <part name="parameters" element="tns:obtenerPorIDPaciente" />
  </message>
  <message name="obtenerPorIDPacienteResponse">
    <part name="parameters" element="tns:obtenerPorIDPacienteResponse" />
  </message>
  <portType name="PacienteWS">
    <operation name="insertarPaciente">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/insertarPacienteRequest" message="tns:insertarPaciente" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/insertarPacienteResponse" message="tns:insertarPacienteResponse" />
    </operation>
    <operation name="modificarPaciente">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/modificarPacienteRequest" message="tns:modificarPaciente" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/modificarPacienteResponse" message="tns:modificarPacienteResponse" />
    </operation>
    <operation name="eliminarPaciente">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/eliminarPacienteRequest" message="tns:eliminarPaciente" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/eliminarPacienteResponse" message="tns:eliminarPacienteResponse" />
    </operation>
    <operation name="listarPaciente">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/listarPacienteRequest" message="tns:listarPaciente" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/listarPacienteResponse" message="tns:listarPacienteResponse" />
    </operation>
    <operation name="obtenerPorIDPaciente1">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/obtenerPorIDPaciente1Request" message="tns:obtenerPorIDPaciente1" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/obtenerPorIDPaciente1Response" message="tns:obtenerPorIDPaciente1Response" />
    </operation>
    <operation name="insertarPaciente1">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/insertarPaciente1Request" message="tns:insertarPaciente1" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/insertarPaciente1Response" message="tns:insertarPaciente1Response" />
    </operation>
    <operation name="obtenerPorIDPaciente">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/obtenerPorIDPacienteRequest" message="tns:obtenerPorIDPaciente" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/PacienteWS/obtenerPorIDPacienteResponse" message="tns:obtenerPorIDPacienteResponse" />
    </operation>
  </portType>
  <binding name="PacienteWSPortBinding" type="tns:PacienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIDPaciente1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPaciente1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIDPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PacienteWS">
    <port name="PacienteWSPort" binding="tns:PacienteWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCapsuleCareWSBL/PacienteWS" />
    </port>
  </service>
</definitions>