ClinicaManagement/ClinicaManagement/ClinicaWeb/Connected Services/CapsuleCareWS/PacienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softcapsulecare.pucp.edu.pe/" targetNamespace="http://services.softcapsulecare.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPaciente" type="tns:eliminarPaciente" />
  <xs:element name="eliminarPacienteResponse" type="tns:eliminarPacienteResponse" />
  <xs:element name="insertarPaciente" type="tns:insertarPaciente" />
  <xs:element name="insertarPaciente1" type="tns:insertarPaciente1" />
  <xs:element name="insertarPaciente1Response" type="tns:insertarPaciente1Response" />
  <xs:element name="insertarPacienteResponse" type="tns:insertarPacienteResponse" />
  <xs:element name="listarPaciente" type="tns:listarPaciente" />
  <xs:element name="listarPacienteResponse" type="tns:listarPacienteResponse" />
  <xs:element name="modificarPaciente" type="tns:modificarPaciente" />
  <xs:element name="modificarPacienteResponse" type="tns:modificarPacienteResponse" />
  <xs:element name="obtenerPorIDPaciente" type="tns:obtenerPorIDPaciente" />
  <xs:element name="obtenerPorIDPaciente1" type="tns:obtenerPorIDPaciente1" />
  <xs:element name="obtenerPorIDPaciente1Response" type="tns:obtenerPorIDPaciente1Response" />
  <xs:element name="obtenerPorIDPacienteResponse" type="tns:obtenerPorIDPacienteResponse" />
  <xs:complexType name="eliminarPaciente">
    <xs:sequence>
      <xs:element name="paciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPacienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPaciente">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPacienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paciente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:citaMedica" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="comunicaciones" nillable="true" type="tns:comunicacion" />
          <xs:element name="historialActivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="historialMedico" type="tns:historialMedico" />
          <xs:element name="idPaciente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="numTelefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaMedica">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="duracion" type="tns:localTime" />
      <xs:element minOccurs="0" name="enlace" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora" type="tns:localTime" />
      <xs:element minOccurs="0" name="idCitaMedica" type="xs:string" />
      <xs:element name="idHistorialMedico" type="xs:int" />
      <xs:element name="idMedico" type="xs:int" />
      <xs:element name="idPaciente" type="xs:int" />
      <xs:element name="idPago" type="xs:int" />
      <xs:element name="idreporteMedico" type="xs:int" />
      <xs:element name="numeroAmbiente" type="xs:int" />
      <xs:element minOccurs="0" name="plataforma" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="comunicacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechaComunicacion" type="xs:dateTime" />
      <xs:element name="idComunicacion" type="xs:int" />
      <xs:element name="idPaciente" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoComunicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historialMedico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="alergias" type="xs:string" />
      <xs:element name="altura" type="xs:double" />
      <xs:element minOccurs="0" name="cirugiasPrevias" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:citaMedica" />
      <xs:element minOccurs="0" name="enferPreExist" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeCreacion" type="xs:dateTime" />
      <xs:element name="idHistorial" type="xs:int" />
      <xs:element name="idPaciente" type="xs:int" />
      <xs:element name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="tipoSangre" type="xs:string" />
      <xs:element minOccurs="0" name="vacunas" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPacienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDPaciente">
    <xs:sequence>
      <xs:element name="paciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDPacienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPaciente1">
    <xs:sequence>
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPaciente1Response">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDPaciente1">
    <xs:sequence>
      <xs:element name="paciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDPaciente1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPacienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pendiente" />
      <xs:enumeration value="Confirmada" />
      <xs:enumeration value="Cancelada" />
      <xs:enumeration value="Reprogramada" />
      <xs:enumeration value="En_progreso" />
      <xs:enumeration value="Completada" />
      <xs:enumeration value="No_asistio" />
      <xs:enumeration value="ASISTIDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Presencial" />
      <xs:enumeration value="Virtual" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoComunicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Queja" />
      <xs:enumeration value="Sugerencia" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>