ClinicaManagement/ClinicaManagement/ClinicaWeb/Connected Services/CapsuleCareWS/ProcedimientoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softcapsulecare.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProcedimientoWS" targetNamespace="http://services.softcapsulecare.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCapsuleCareWSBL/ProcedimientoWS?xsd=1" namespace="http://services.softcapsulecare.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarProcedimiento">
    <part name="parameters" element="tns:eliminarProcedimiento" />
  </message>
  <message name="eliminarProcedimientoResponse">
    <part name="parameters" element="tns:eliminarProcedimientoResponse" />
  </message>
  <message name="modificarProcedimiento">
    <part name="parameters" element="tns:modificarProcedimiento" />
  </message>
  <message name="modificarProcedimientoResponse">
    <part name="parameters" element="tns:modificarProcedimientoResponse" />
  </message>
  <message name="obtenerProcedimientoPorId">
    <part name="parameters" element="tns:obtenerProcedimientoPorId" />
  </message>
  <message name="obtenerProcedimientoPorIdResponse">
    <part name="parameters" element="tns:obtenerProcedimientoPorIdResponse" />
  </message>
  <message name="insertarProcedimiento">
    <part name="parameters" element="tns:insertarProcedimiento" />
  </message>
  <message name="insertarProcedimientoResponse">
    <part name="parameters" element="tns:insertarProcedimientoResponse" />
  </message>
  <message name="listarProcedimientosPorTipo">
    <part name="parameters" element="tns:listarProcedimientosPorTipo" />
  </message>
  <message name="listarProcedimientosPorTipoResponse">
    <part name="parameters" element="tns:listarProcedimientosPorTipoResponse" />
  </message>
  <portType name="ProcedimientoWS">
    <operation name="eliminarProcedimiento">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/eliminarProcedimientoRequest" message="tns:eliminarProcedimiento" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/eliminarProcedimientoResponse" message="tns:eliminarProcedimientoResponse" />
    </operation>
    <operation name="modificarProcedimiento">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/modificarProcedimientoRequest" message="tns:modificarProcedimiento" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/modificarProcedimientoResponse" message="tns:modificarProcedimientoResponse" />
    </operation>
    <operation name="obtenerProcedimientoPorId">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/obtenerProcedimientoPorIdRequest" message="tns:obtenerProcedimientoPorId" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/obtenerProcedimientoPorIdResponse" message="tns:obtenerProcedimientoPorIdResponse" />
    </operation>
    <operation name="insertarProcedimiento">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/insertarProcedimientoRequest" message="tns:insertarProcedimiento" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/insertarProcedimientoResponse" message="tns:insertarProcedimientoResponse" />
    </operation>
    <operation name="listarProcedimientosPorTipo">
      <input wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/listarProcedimientosPorTipoRequest" message="tns:listarProcedimientosPorTipo" />
      <output wsam:Action="http://services.softcapsulecare.pucp.edu.pe/ProcedimientoWS/listarProcedimientosPorTipoResponse" message="tns:listarProcedimientosPorTipoResponse" />
    </operation>
  </portType>
  <binding name="ProcedimientoWSPortBinding" type="tns:ProcedimientoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarProcedimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProcedimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProcedimientoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProcedimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProcedimientosPorTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProcedimientoWS">
    <port name="ProcedimientoWSPort" binding="tns:ProcedimientoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCapsuleCareWSBL/ProcedimientoWS" />
    </port>
  </service>
</definitions>