ClinicaManagement/ClinicaManagement/ClinicaWeb/Connected Services/CapsuleCareWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softcapsulecare.pucp.edu.pe/" targetNamespace="http://services.softcapsulecare.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>